<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>NiceSchool教务系统</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="layui/layui.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">NiceSchool教务系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">信息管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;"  class="menu_three ">&nbsp;学生信息</a>
                            <ol class="layui-nav-child" style="display: none;">
                                <li><a href="javascript:;" data-id="1" data-title="学生信息查询" data-url="http://localhost:8080/selectStudent" class="site-demo-active" data-type="tabAdd">&nbsp;&nbsp;学生信息查询</a></li>
                                <li><a href="javascript:;" data-id="2" data-title="学生信息修改" data-url="http://localhost:8080" class="site-demo-active" data-type="tabAdd">&nbsp;&nbsp;学生信息修改</a></li>
                                <li><a href="javascript:;" data-id="3" data-title="录入学生" data-url="http://localhost:8080" class="site-demo-active" data-type="tabAdd">&nbsp;&nbsp;录入学生</a></li>
                            </ol>
                        </dd>
                        <dd>
                            <a href="javascript:;"  class="menu_three ">&nbsp;教师信息</a>
                            <ol class="layui-nav-child" style="display: none;">
                                <li><a href="javascript:;" data-id="4" data-title="教师信息查询" data-url="http://localhost:8080/selectTeacher" class="site-demo-active" data-type="tabAdd">&nbsp;&nbsp;教师信息查询</a></li>
                                <li><a href="javascript:;" data-id="5" data-title="教师信息修改" data-url="http://localhost:8080" class="site-demo-active" data-type="tabAdd">&nbsp;&nbsp;教师信息修改</a></li>
                                <li><a href="javascript:;" data-id="6" data-title="录入教师" data-url="http://localhost:8080" class="site-demo-active" data-type="tabAdd">&nbsp;&nbsp;录入教师</a></li>
                            </ol>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">成绩管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="7" data-title="成绩查询" data-url="http://localhost:8080/selectGrade" class="site-demo-active" data-type="tabAdd">&nbsp;成绩查询</a></dd>
                        <dd><a href="javascript:;" data-id="8" data-title="成绩录入" data-url="http://localhost:8080" class="site-demo-active" data-type="tabAdd">&nbsp;成绩录入</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">课程管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="9" data-title="课表查询" data-url="http://localhost:8080" class="site-demo-active" data-type="tabAdd">&nbsp;课表查询</a></dd>
                        <dd><a href="javascript:;" data-id="10" data-title="调换课程" data-url="http://localhost:8080" class="site-demo-active" data-type="tabAdd">&nbsp;调换课程</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">校园新闻</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="11" data-title="新闻查询" data-url="http://localhost:8080/test" class="site-demo-active" data-type="tabAdd">&nbsp;新闻查询</a></dd>
                        <dd><a href="javascript:;" data-id="12" data-title="发布新闻" data-url="http://localhost:8080" class="site-demo-active" data-type="tabAdd">&nbsp;发布新闻</a></dd>
                        <dd><a href="javascript:;" data-id="13" data-title="新闻管理" data-url="http://localhost:8080" class="site-demo-active" data-type="tabAdd">&nbsp;新闻管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"  data-id="14" data-title="网上教评" data-url="http://localhost:8080" class="site-demo-active" data-type="tabAdd">网上教评</a>
                </li>

            </ul>
        </div>

    </div>

    <!--显示生成的选项卡界面-->
    <div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin-left: 200px;">
        <ul class="layui-tab-title"></ul>
        <div class="layui-tab-content"></div>
    </div>
</div>
<script>
    layui.use(['element', 'layer', 'jquery'], function () {
        var element = layui.element;
        // var layer = layui.layer;
        var $ = layui.$;
        // 配置tab实践在下面无法获取到菜单元素
        $('.site-demo-active').on('click', function () {
            var dataid = $(this);
            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
            } else {
                //否则判断该tab项是否以及存在
                var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                    if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                        isData = true;
                    }
                })
                if (isData == false) {
                    //标志为false 新增一个tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
            active.tabChange(dataid.attr("data-id"));
        });

        var active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
            tabAdd: function (url, id, name) {
                //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                element.tabAdd('demo', {
                    title: name,
                    content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:99%;"></iframe>',
                    id: id //规定好的id
                })
                FrameWH();  //计算ifram层的大小
            },
            tabChange: function (id) {
                //切换到指定Tab项
                element.tabChange('demo', id); //根据传入的id传入到指定的tab项
            },
            tabDelete: function (id) {
                element.tabDelete("demo", id);//删除
            }
        };
        function FrameWH() {
            var h = $(window).height();
            $("iframe").css("height",h+"px");
        }
    });
    //JavaScript代码区域
    layui.use(['element', 'jquery'], function () {
        var element = layui.element, $ = layui.jquery;
        $(".menu_three").on("click", function () {

            $(this).next().toggle();
            $.each($(this).parent().siblings(), function (i, e) {
                $(e).find("ol").hide();
            });

        })
        $("ol").on("click", "li a", function () {
            $.each($(this).parent().siblings(), function (i, e) {
                $(e).find("a").removeClass('three_this')
            });
            $(this).addClass('three_this'); // 添加当前元素的样式
        })
    });


</script>
</body>
</html>