<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanlrc.school.mapper.SelTchExamMapper">
    <!--查询教师成绩-->
    <select id="selTchExam" resultType="map" parameterType="map">
        select tch.tname,tex.tid,round(IFNULL((tex.exam/tex.pcount),0),2) exam,tex.pcount,YEAR(tex.tetime) tetime,tex.semester from
        teacher tch,tch_exam tex where tch.tid = tex.tid and tex.is_del = 0
        <if test="tid != '' and tid != null">
            and tex.tid like concat('%',concat(#{tid},'%'))
        </if>
        <if test="tname != '' and tname != null">
            and tch.tname like concat('%',concat(#{tname},'%'))
        </if>
    </select>
</mapper>
