<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanlrc.school.mapper.TchSelStuExamMapper">
    <!--查询教师授课班级-->
    <select id="selTchClass" resultType="map" parameterType="map">
        select cla.classid,cla.classname from tch_class tcl,classinfo cla where tcl.classid = cla.classid and tcl.tid = #{tid}
    </select>
    <!--教师查询学生成绩-->
    <select id="tchSelStuExam" resultType="map" parameterType="map">
        select stu.sid,stu.sname,cou.cname,cou.ccredit,cty.ctname,cou.studytype,ste.normalexam,ste.testexam,ste.sumexam,MAX(ste.stime) stime,ste.scid from
        teacher tch,tch_class tcl,student stu,stu_exam ste,course cou,course_type cty,stu_course sco,tch_course tco where
        tch.tid = tcl.tid and tcl.classid = stu.classid and ste.sid = stu.sid and stu.sid = sco.sid and sco.cid = cou.cid
        and cou.ctid = cty.ctid and tco.tid = tch.tid and ste.scid = sco.scid and tco.cid = cou.cid and stu.is_del =0  and tch.tid = #{tid}
        <if test="gname!='' and gname!=null">
        and concat(YEAR(stu.entertime),'级') = #{gname}
        </if>
        <if test="classid!='' and classid!=null">
            and tcl.classid = #{classid}
        </if>
        <if test="sname!=null and sname!=''">
            and stu.sname like concat('%',concat(#{sname},'%'))
        </if>GROUP BY ste.scid
    </select>
    <select id="selTchGrade" resultType="map" parameterType="map">
        select g.gid,g.gname from tch_course t,grade g where t.gid = g.gid and t.tid = #{tid} GROUP BY g.gname
    </select>
</mapper>
